@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Monomaniac+One&family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');


body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #151D2F;
    display: flex;
    justify-content: center;
}

.container {
    background: #2B304D;
    width: 25vw;
    height: 70vh;
    margin: 5%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 30% 30% 10%;
    border-radius: 16px;
    box-shadow: 16px 22px 13px 0px rgba(0, 0, 0, 0.16);
    grid-template-areas:    "t t"
                            "i i"
                            "b s"
                            "f f";
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: t;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 150%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20%;
}

.inputs {
    grid-area: i;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 75%;
    height: 30%;
    border: none;
    background: #343A5B;
    outline: none;
    margin: 7px;
    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-left: 4%;
}

.input::-webkit-calendar-picker-indicator {
    display: none;
    border: 10px;
}

.input:focus {
    border-left: 4px solid #FF771E;
    opacity: 100%;
}

.campo-esqueci-senha {
    grid-area: b;
    font-size: 12px;
    align-items: top;
    padding-left: 10%;
}


.esqueci-senha {
    text-decoration: none;
    opacity: 80%;
    color: #FFF;
}

.esqueci-senha:hover {
    color: #FF771E;
    text-decoration:underline;

}


.botoes {
    grid-area: b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.botao {
    margin-bottom: 8px;
    width: 48%;
    height: 25%;
    border-radius: 5px;
    border: none;
    background: #D9D9D9;
    color: #151D2F;
    text-align: center;
    font-family: Inter;
    font-size: 70%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.5s;
}

.botao:hover {
    background-color: #FF771E;
    color: #fff;
    scale: 103%;
}

.botao:disabled {
    cursor: default;
    opacity: 30%;
}

.botao:hover:disabled {
    background-color: #D9D9D9;
    scale: 100%;
    color: #151D2F;
}

.footer {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.80;
    text-decoration: none;
    transition: 0.2s;
}

.footer:hover {
    opacity: 100%;
    color: #FF771E;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    font-family: Inter;
    font-size: 20px;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    color: #151D2F;
}

.fechar-modal {
    color: #FF771E;
    float:inline-end;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.fechar-modal:hover,
.fechar-modal:focus {
    color: #E26817;
    text-decoration: none;
    cursor: pointer;
    scale: 110%;
}

.modal-carregando {
    display: none;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.carregando {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 20%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


#mostrarSenha {
    position: absolute;
    right: 10%;
    top: 51%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #FFF;
}

