<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Relatórios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/confirmar_email.css') }}">
    <link rel="stylesheet" href="../static/styles/confirmar_email.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Monomaniac+One&family=Rubik:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <div id="titulo" class="titulo">
            <label>Confirmar e-mail</label>
        </div>
        <div class="inputs">
            <input class="input" type="text" id="input-token" placeholder="token">
        </div>
        <div class="botoes">
            <button class="botao" id="confirmar">Confirmar</button>
        </div>
        <div class="footer">
            <a href="https://parceirodocontador.com.br/store" target="_blank" class="footer" id="footer">Feito por Parceiro do Contador</a>
        </div>
    </div>
    <div class="modal-carregando" class="modal">
        <div class="carregando">
            <span class="fechar-modal">&times;</span>
            <img src="{{ url_for('static', filename='img/loading.png') }}" alt="carregando...">
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/confirmar_email.js') }}" type="module"></script>
</body>
</html>
